### Instructions:

- You can attempt any number of questions and in any order.  
  See the assignment page for a description of the hurdle requirement for this assessment.
- You may submit your practical for autograding as many times as you like to check on progress, however you will save time by checking and testing your own code before submitting.
- Develop and check your answers in the spaces provided.
- **Replace** the code `raise NotImplementedError()` with your solution to the question.
- Do **NOT** remove any variables other provided markings already provided in the answer spaces.
- Do **NOT** make any changes to this notebook outside of the spaces indicated.  
  (If you do this, the submission system might not accept your work)

### Submitting:

1. Before you turn this problem in, make sure everything runs as expected by resetting this notebook.    
   (You can do this from the menubar above by selecting `Kernel`&#8594;`Restart Kernel and Run All Cells...`)
1. Don't forget to save your notebook after this step.
1. Submit your .ipynb file to Gradescope via file upload or GitHub repository.
1. You can submit as many times as needed.

---

# <mark style="background: #801010; color: #ffffff;" >B2</mark> Topic 5: Working with pandas üêºüêºüêº

In [2]:
# Useful imports...
import numpy as np
import pandas as pd
import string
import math

#### Question 01 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_1` with values:
```python
'a','b','c','d','e'
```
and index from 1 to 5 inclusive.

In [6]:
# Write your solution here

# YOUR CODE HERE
series_1 = pd.Series(['a', 'b', 'c', 'd', 'e'], index=range(1,6))
series_1

<class 'range'>

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 02 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_2` with a default index and the values:
```python
'data', 'python', 'science', 'machine', 'learning'
```

In [7]:
# Write your solution here

# YOUR CODE HERE
series_2 = pd.Series(['data', 'python', 'science', 'machine', 'learning'])
series_2

0        data
1      python
2     science
3     machine
4    learning
dtype: object

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 03 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_3` from the `np.array` variable supplied below with an index of the uppercase alphabet 'A' to 'Z'.

In [8]:
array = np.array([ 7, 59, 42, 13, 67, 19, 26, 59, 99, 97, 77,  1, 36, 49, 10, 51, 41,
       73, 33, 79, 19, 34, 84, 11, 41, 75])

In [34]:
# Write your solution here

# YOUR CODE HERE
import string
upper = list(string.ascii_uppercase)
series_3 = pd.Series(array, index=upper)
series_3

A     7
B    59
C    42
D    13
E    67
F    19
G    26
H    59
I    99
J    97
K    77
L     1
M    36
N    49
O    10
P    51
Q    41
R    73
S    33
T    79
U    19
V    34
W    84
X    11
Y    41
Z    75
dtype: int32

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 04 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Copy the Series above (`series_3`) to a new object named `series_4` and assign an index of the lowercase alphabet 'a' to 'z'. The first value of `series_4` should be assigned the value `100` while `series_3` must remain unchanged.

In [22]:
# Write your solution here

# YOUR CODE HERE
import string
series_4 = series_3.copy()
series_4.index = list(string.ascii_lowercase)
series_4['a'] = 100
series_4

a    100
b     59
c     42
d     13
e     67
f     19
g     26
h     59
i     99
j     97
k     77
l      1
m     36
n     49
o     10
p     51
q     41
r     73
s     33
t     79
u     19
v     34
w     84
x     11
y     41
z     75
dtype: int32

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 05 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Given a pandas Series of the integers from 1 to 4 named `series_5`, transform this series into a series of floats and set the name of the series to be `'Float data'`.


---
<details>
  <summary><span style="color:blue">Finding documentation on attributes and methods</span></summary>
    It's <strong>essential</strong> to be able to use the pandas API reference to discover details of the pandas classes (Series, DataFrame, Index etc). You can find how to set the data type and Series name here:
    <a href="https://pandas.pydata.org/docs/reference/index.html">API reference</a>
</details>

In [23]:
series_5 = pd.Series(['1','2','3','4'])

# Write your solution here

# YOUR CODE HERE

series_5 = series_5.astype(float)

series_5.name = 'Float data'
series_5

0    1.0
1    2.0
2    3.0
3    4.0
Name: Float data, dtype: float64

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 06 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Create a Series with name `series_6` that contains all values greater than 50 in the NumPy `array` from Question 3. You should rely on NumPy filtering to sift these values.


---
<details>
  <summary><span style="color:blue">Filtering NumPy arrays</span></summary>
One powerful NumPy concept is to filter the contents of an array according to a mask. Consider our `array` example and wishing to find which elements are "mod 2". We can form a boolean mask like this:
<pre>

print ([array % 2 == 0])
[array([False, False,  True, False, False, False,  True, False, False,
        False, False, False,  True, False,  True, False, False, False,
        False, False, False,  True,  True, False, False, False])]     
</pre>        
or obtain the values as
<pre>
print (array[array % 2 == 0])
[42 26 36 10 34 84]

</pre>
This is explained in the course readings <a href="https://ebookcentral.proquest.com/lib/adelaide/reader.action?docID=5446042&ppg=66">on page 58 of Hands-On Data Analysis with NumPy and Pandas : Implement Python Packages from Data Manipulation to Processing</a>.
</details>

In [30]:
# Write your solution here

# YOUR CODE HERE
series_6 = array[array > 50]
series_6 = pd.Series(series_6)
print(series_6)

0     59
1     67
2     59
3     99
4     97
5     77
6     51
7     73
8     79
9     84
10    75
dtype: int32

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 07 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Create a Series of floats that represents the values of the `array` in Question 3 where:
- the value divides evenly by 3 ("mod 3"), and
- the stored value is one sixth or the original value. 
Assign this Series to the variable `series_7`. Again, you should be looking to harness the featues of NumPy and pandas to create your Series.

For example, given an array with values:
```python
7, 6, 9
```
then `series_7` would be a pandas Series of:
```python
1.0, 1.5
```

In [29]:
# Write your solution here

# YOUR CODE HERE
series_7 = array[array % 3 == 0]
series_7 = series_7 / 6.0
series_7 = pd.Series(series_7)

print(series_7)

0     7.0
1    16.5
2     6.0
3     8.5
4     5.5
5    14.0
6    12.5
dtype: float64

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 08 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Given the mixed type dictionary `mixed_data` below, create a pandas DataFrame from that data and assign it to a variable named `dataframe_8`.

---
<details>
  <summary><span style="color:blue">New pandas classes...</span></summary>
   Please refer to the <a href="https://pandas.pydata.org/docs/reference/index.html">API reference</a> to obtain details on any pandas classes that you have not yet encountered.
</details>

In [36]:
mixed_data = {
    "A": 42.0,
    "B": pd.Timestamp("20220704"),
    "C": pd.Series(1, index=list(range(4)), dtype="float32"),
    "D": np.array([3] * 4, dtype="int32"),
    "E": pd.Categorical(["test", "train", "test", "train"]),
    "F": "foundations of computer science",
}

In [37]:
# Write your solution here

# YOUR CODE HERE
dataframe_8 = pd.DataFrame(mixed_data)
dataframe_8

      A          B    C  D      E                                F
0  42.0 2022-07-04  1.0  3   test  foundations of computer science
1  42.0 2022-07-04  1.0  3  train  foundations of computer science
2  42.0 2022-07-04  1.0  3   test  foundations of computer science
3  42.0 2022-07-04  1.0  3  train  foundations of computer science

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 09 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

In Question 8, we created a DataFrame with 6 columns. Create a series called `series_9` with values that reflect the **data type** of each column in `dataframe_8` and an index consisting of the column labels. Set the `name` attribute of this series to `'Column Types'`.

In [40]:
# Write your solution here

# YOUR CODE HERE
series_9 = dataframe_8.dtypes

series_9.name = 'Column Types'

print(series_9)

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
Name: Column Types, dtype: object

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Given a dictionary called `pricing` (below), create a DataFrame that contains only "object" and "colour" elements in that order and with column names of "object" and "colour". Assign this DataFrame to the variable `dataframe_10`.

In [ ]:
pricing = {'colour' : ['blue','green','yellow','red','white'],
        'object' : ['ball','pen','pencil','paper','mug'],
        'price' : [1.2,1.0,0.6,0.9,1.7]}

# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 11 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Create a DataFrame, `dataframe_11`, that is a copy of `dataframe_10` but with the index:
```python
  'one', 'two', 'three', 'four', 'five'
```
Change the colour of the mug from `'white'` to `'black'`. `dataframe_10` should not be changed.

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 12 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Download the file `weather-utf8.csv` from [this link](https://myuni.adelaide.edu.au/files/11146098/download?download_frd=1) and co-locate the file with this notebook. This file contains weather station data from the Australian Bureau of Meteorology for dates in January 2022. Data includes temperature, wind and rainfall information.

Load the file into a DataFrame called `dataframe_12` and set the index for this dataframe to be the 'Date'.

---
<details>
  <summary><span style="color:blue">pandas API Reference for Input/Output</span></summary>
   You can find how to read and write a CSV file to a DataFrame here:
    <a href="https://pandas.pydata.org/docs/reference/io.html">API reference (Input/Output)</a>
</details>

---
<details>
  <summary><span style="color:blue">Help! My index won't stay put?!?</span></summary>
   You can find how to set the index of DataFrame "in place" here:
    <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html">API reference (set_index)</a>
</details>

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 13 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Using the data loaded in Question 12, create a pandas DataFrame called `dataframe_13` containing the maximum temperature and the rainfall only on those days when the maximum temperature for the day was greater than 34 degrees.

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 14 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Using the data loaded in Question 12 and with reference to the [pandas API](https://pandas.pydata.org/docs/reference/index.html), create a two value tuple called `mean_14` that holds the mean of the maximum temperature and minimum temperature for the month of January like:
```python
    (mean_max_temp, mean_min_temp)
```

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 15 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Create a DataFrame called `dataframe_15` by duplicating `dataframe_12`. To reflect questionable sensor data when windspeed falls below 28 km/h, set these values (speed of maximum windgust < 28 km/h) to be the Not a Number value `np.nan`.

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 16 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Calculate the number of times that the maxmium wind gust came from the direction 'NNW' and assign it to the variable `nnw_gust_16`.

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 17 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)

Download the file `titanic.csv` from [this link](https://myuni.adelaide.edu.au/files/11148918/download?download_frd=1) and co-locate the file with this notebook. This file contains data on the passengers on the Titanic - including an indication of those who lived and died on 14 April 1912 when it sank. Most columns are self-explanatory except the `Pclass`, `SibSp` and `Parch`.

Load the CSV file into a DataFrame called `dataframe_17` and amend the title of the column `'Pclass'` to `'Passenger Class'`. Also, delete the columns `SibSp` and `Parch` from the DataFrame. Refer to the [API Reference](https://pandas.pydata.org/docs/reference/index.html) for information on renaming and dropping columns if required - and recall from Question 12 that we must specify "inplace" for changes to the DataFrame to persist.

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 18 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)

The column `'Survived'` uses 1 and 0 to indicate whether the passenger survived. Create a `dataframe_18` which is a copy of `dataframe_17` and replaces 1 and 0 in the `'Survived'` column with the Python values `True` and `False`.

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 19 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(15 Points)

To end this practical, work out what percentage of female and male passengers survived. Present these two values in a variable called `survivors_19` that is a tuple `(female_percent, male_percent)` that expresses the percentage of survivors rounded to one decimal place like:
```python
    (72.1, 25.9)  # values are fictional but show the expected format of the result
```
To determine this value, explore the pandas API for the [groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) function.

In [ ]:
# Write your solution here

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Testing Cell (Do NOT modify this cell)