In [1]:
import numpy as np
import pandas as pd

In [3]:
data = {'apple':1.5, 'blueberry':3.5, 'banana':2.99, 'orange':4.3, 'mandarin':np.nan}

series1 = pd.Series(data)
print('series1 =')
print(series1)

fruits = ['apple', 'blueberry', 'banana', 'orange', 'mandarine', 'rockmelon', 'strawberry']
series2 = pd.Series(series1, index = fruits)
print('series2 = ')
print(series2)

series1 =
apple        1.50
blueberry    3.50
banana       2.99
orange       4.30
mandarin      NaN
dtype: float64
series2 =
apple         1.50
blueberry     3.50
banana        2.99
orange        4.30
mandarine      NaN
rockmelon      NaN
strawberry     NaN
dtype: float64

In [5]:
series1.isnull()

apple        False
blueberry    False
banana       False
orange       False
mandarin      True
dtype: bool

In [8]:
colors = pd.Series(['yellow', 'white', 'black', 'black', 'white', 'red', 'yellow', 'red', 'purple', 'black', 'black', 'red'])
print('colors = ')
print(colors)

print('unique value in colors: \n', colors.unique())

colors =
0     yellow
1      white
2      black
3      black
4      white
5        red
6     yellow
7        red
8     purple
9      black
10     black
11       red
dtype: object
unique value in colors:
 ['yellow' 'white' 'black' 'red' 'purple']

In [9]:
colors.value_counts()

black     4
red       3
yellow    2
white     2
purple    1
Name: count, dtype: int64

In [12]:
colors.isin(['green', 'black', 'red'])

0     False
1     False
2      True
3      True
4     False
5      True
6     False
7      True
8     False
9      True
10     True
11     True
dtype: bool

In [13]:
colors[colors.isin(['white', 'purple'])]

1     white
4     white
8    purple
dtype: object

In [19]:
series2.isnull().sum()

3

In [21]:
print(series2[series2.notnull()])
print(series2[series2.isnull()])

apple        1.50
blueberry    3.50
banana       2.99
orange       4.30
dtype: float64
mandarine    NaN
rockmelon    NaN
strawberry   NaN
dtype: float64

In [22]:
df1 = pd.DataFrame(np.array([[6.5, 90.3], [3.6, 3.2]]), index = ['row1', 'row2'])
print(df1)

        0     1
row1  6.5  90.3
row2  3.6   3.2

In [23]:
df1.index

Index(['row1', 'row2'], dtype='object')

In [24]:
df1.index[0]

'row1'

In [25]:
df1.index = ['r1', 'r2']
print(df1.index[0], df1.index[1])

r1 r2

In [33]:
s_city = pd.Series(['Sydney','Melbourne','Brisbane','Perth','Adelaide','Gold Coast','Canberra','Newcastle','Wollongong','Logan City'])
s_density = pd.Series([4627345, 4246375, 2189878, 1896548,1225235, 591473, 367752, 308308, 292190, 282673])
s_state = pd.Series(['New South Wales', 'Victoria','Queensland', 'Western Australia','South Australia',
                     'Queensland','Australian Capital Territory','New South Wales','New South Wales', 'Queensland'])

s_unemployed_rate = pd.Series([4.3, 4.9, np.nan, np.nan, 7.3, 6.4, 3.5, 4.3, 4.3, 6.4])

df_pop = pd.DataFrame({'city':s_city, 'density':s_density, 'state': s_density, 'unemployed_rate': s_unemployed_rate})
df_pop

         city  density    state  unemployed_rate
0      Sydney  4627345  4627345              4.3
1   Melbourne  4246375  4246375              4.9
2    Brisbane  2189878  2189878              NaN
3       Perth  1896548  1896548              NaN
4    Adelaide  1225235  1225235              7.3
5  Gold Coast   591473   591473              6.4
6    Canberra   367752   367752              3.5
7   Newcastle   308308   308308              4.3
8  Wollongong   292190   292190              4.3
9  Logan City   282673   282673              6.4

In [34]:
df_pop.city

0        Sydney
1     Melbourne
2      Brisbane
3         Perth
4      Adelaide
5    Gold Coast
6      Canberra
7     Newcastle
8    Wollongong
9    Logan City
Name: city, dtype: object

In [35]:
df_pop.unemployed_rate

0    4.3
1    4.9
2    NaN
3    NaN
4    7.3
5    6.4
6    3.5
7    4.3
8    4.3
9    6.4
Name: unemployed_rate, dtype: float64

In [36]:
df_pop.values

array([['Sydney', 4627345, 4627345, 4.3],
       ['Melbourne', 4246375, 4246375, 4.9],
       ['Brisbane', 2189878, 2189878, nan],
       ['Perth', 1896548, 1896548, nan],
       ['Adelaide', 1225235, 1225235, 7.3],
       ['Gold Coast', 591473, 591473, 6.4],
       ['Canberra', 367752, 367752, 3.5],
       ['Newcastle', 308308, 308308, 4.3],
       ['Wollongong', 292190, 292190, 4.3],
       ['Logan City', 282673, 282673, 6.4]], dtype=object)

In [37]:
df_pop['unemployed_rate']

0    4.3
1    4.9
2    NaN
3    NaN
4    7.3
5    6.4
6    3.5
7    4.3
8    4.3
9    6.4
Name: unemployed_rate, dtype: float64

In [41]:
df_pop[:-3]

         city  density    state  unemployed_rate
0      Sydney  4627345  4627345              4.3
1   Melbourne  4246375  4246375              4.9
2    Brisbane  2189878  2189878              NaN
3       Perth  1896548  1896548              NaN
4    Adelaide  1225235  1225235              7.3
5  Gold Coast   591473   591473              6.4
6    Canberra   367752   367752              3.5

In [42]:
df_pop[4:7]

         city  density    state  unemployed_rate
4    Adelaide  1225235  1225235              7.3
5  Gold Coast   591473   591473              6.4
6    Canberra   367752   367752              3.5

In [44]:
df_pop.loc[df_pop['density']  > 2000000, ['city', 'density']]

        city  density
0     Sydney  4627345
1  Melbourne  4246375
2   Brisbane  2189878

In [46]:
df_pop.loc[(df_pop.unemployed_rate > 4.0) & (df_pop.unemployed_rate <= 4.5)]

         city  density    state  unemployed_rate
0      Sydney  4627345  4627345              4.3
7   Newcastle   308308   308308              4.3
8  Wollongong   292190   292190              4.3

In [17]:
str1 = 'Hi, my name is Eric'
print('Position of character m is ' + str(str1.find('m')))
print('Position of character m is ' + str(str1.find('my', 2, 5)))

Position of character m is 4
Position of character m is -1

In [23]:

print(str1[7:1:-3])
print(str1[1:9:2])
print(str1[:10:4])

nm
i yn
Hma

In [38]:
alphabet ='abcdefghijklmnopqrstuvwxyz'
print(alphabet[0:5])
print(alphabet[5:15])
print(alphabet[:-5])
print(alphabet[::2])
print(alphabet[::4])
print(alphabet[::-1])

abcde
fghijklmno
abcdefghijklmnopqrstu
acegikmoqsuwy
aeimquy
zyxwvutsrqponmlkjihgfedcba

In [56]:
txt = "hello, my name is john, \t i am an student from the university of adelaide, \n i love python progamming"
print('Default separator ', txt.split())
print('", " separator: ', txt.split(', '))
print('')

Default separator  ['hello,', 'my', 'name', 'is', 'john,', 'i', 'am', 'an', 'student', 'from', 'the', 'university', 'of', 'adelaide,', 'i', 'love', 'python', 'progamming']
", " separator:  ['hello', 'my name is john', '\t i am an student from the university of adelaide', '\n i love python progamming']
"
"

In [60]:
txt = "hello, john, university of adelaide, python progamming, jupyter notebook, happy coding"
list1 = txt.split(', ')
print(list1)
print(len(list1))
list2 = txt.split(', ', 2)
print(list2)
print(len(list2))

['hello', 'john', 'university of adelaide', 'python progamming', 'jupyter notebook', 'happy coding']
6
['hello', 'john', 'university of adelaide, python progamming, jupyter notebook, happy coding']
3

In [63]:
list1 = ['hello', 'john', 'university of adelaide', 'python progamming', 'jupyter notebook', 'happy coding']
print('#'.join(list1))
print(' '.join(list1))

hello#john#university of adelaide#python progamming#jupyter notebook#happy coding
hello john university of adelaide python progamming jupyter notebook happy coding

In [65]:
str2 = 'I love programming'
list2 = str2.split(' ')
print(list2)
str2 = '-'.join(list2)
print(str2)

['I', 'love', 'programming']
I-love-programming

In [66]:
def split_string(string):
    list_string = string.split(' ')
      
    return list_string
  
def join_string(list_string):
    string = ' !'.join(list_string)
      
    return string

string = 'My name is John'
list_string = split_string(string)
print(list_string)
new_string = join_string(list_string)
print(new_string)

['My', 'name', 'is', 'John']
My !name !is !John

In [68]:
listNumbers = ['zero', 1, 2, 3, 'four', 5.0, 'six', 7, 8.0, 9]
listNumbers[4]

'four'

In [71]:
print(listNumbers[2], listNumbers[3])

2 3

In [72]:
print(listNumbers[0:3])

['zero', 1, 2]

In [73]:
print(listNumbers[:3])

['zero', 1, 2]

In [74]:
print(listNumbers[3:])

[3, 'four', 5.0, 'six', 7, 8.0, 9]

In [75]:
print(listNumbers)
print(listNumbers[-1])
print(listNumbers[-2])

['zero', 1, 2, 3, 'four', 5.0, 'six', 7, 8.0, 9]
9
8.0

In [76]:
print(listNumbers[0:-1])

['zero', 1, 2, 3, 'four', 5.0, 'six', 7, 8.0]

In [77]:
print(listNumbers[-3:])

[7, 8.0, 9]

In [78]:
listNumbers[::-1]

[9, 8.0, 7, 'six', 5.0, 'four', 3, 2, 1, 'zero']

In [81]:
print(listNumbers[10:0:-1])

[9, 8.0, 7, 'six', 5.0, 'four', 3, 2, 1]

In [82]:
print(listNumbers[::2])

['zero', 2, 'four', 'six', 8.0]

In [83]:
listNumbers[::-3]

[9, 'six', 3, 'zero']

In [101]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(lst1[3:8:2])
print(lst1[::2])
print(lst1[:3])
print((lst1[3]))
print(lst1[3:])
print(lst1[3:-1])
print(lst1[-1])
print(lst1[0])
print(lst1[2:6])
print(lst1[:2])

[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3]
4
[4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8]
9
1
[3, 4, 5, 6]
[1, 2]

In [102]:
list1 = [1, 2, 3, 'Hello', 5, 'six']
print(list1)
list1[3] = 'Fuck you'
print(list1)

[1, 2, 3, 'Hello', 5, 'six']
[1, 2, 3, 'Fuck you', 5, 'six']

In [110]:
list1 = [1.4, 1, 20.1, 5, 19.3, 91, 30, 10.2, 9, 26]
print(len(list1))
list1[3:6] = [6]
print(len(list1))
print(list1)

10
8
[1.4, 1, 20.1, 6, 30, 10.2, 9, 26]

In [112]:
colors = ['black', 'white', 'yellow', 'red']
colors.insert(3, 'grey')
print(colors)
colors.pop(0)
print(colors)

['black', 'white', 'yellow', 'grey', 'red']
['white', 'yellow', 'grey', 'red']

In [123]:
listThings = ['banana', 'apple', 'apple', 3, 10, 78, 5.5, 'apple', list(range(200,205)), 'apple', 'apple', 10.5]
listThings[0] = 19
listThings[-2:] = ['John', 'Danise']
listThings.insert(2, 'Kelly')
listThings.pop(5)
listThings.insert(29, 12)
print(listThings)

[19, 'apple', 'Kelly', 'apple', 3, 78, 5.5, 'apple', [200, 201, 202, 203, 204], 'apple', 'John', 'Danise', 12]

In [124]:
new_lst = []

for letter in 'Hello':
    new_lst.append(letter)

print(new_lst)

['H', 'e', 'l', 'l', 'o']

In [125]:
new_lst = [letter for letter in 'Hello']
print(new_lst)

['H', 'e', 'l', 'l', 'o']

In [128]:
time_one = [0, 1, 1, 2, 3, 5, 8]
time_two = [num * 2 for num in time_one]
print(time_two)

[0, 2, 2, 4, 6, 10, 16]

In [129]:
quarks = ['Up', 'Down', 'Charm', 'Strange', 'Top', 'Bottom']
lower_first_letter = [quark[0].lower() for quark in quarks]
print(lower_first_letter)

['u', 'd', 'c', 's', 't', 'b']

In [131]:
lst1 = []

for i in range(10):
    if i % 2 == 0:
        lst1.append(i)
print(lst1)


even_number = [number for number in range(10) if number % 2 == 0]
print(even_number)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [132]:
numbers = [number for number in range(100) if number % 2 == 0 and number % 5 == 0]
print(numbers)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [133]:
even_odd = ['even' if number % 2 == 0 else 'odd' for number in range(10)]
print(even_number)

[0, 2, 4, 6, 8]

In [138]:
matrix = [[1, 9], [2, 0], [9, 6]]
transposed_matrix = [[row[i] for row in matrix] for i in range(2)]
print(transposed_matrix)

[[1, 2, 9], [9, 0, 6]]

In [145]:
list = [1,2,3]
output = []
for i in list:
    output.append((i, i **3))
print(output)

tup = (7, 8, 9, 1, 10, 7)
sum = 0
for i in tup:
    sum += i
print(sum)

[(1, 1), (2, 8), (3, 27)]
42

In [148]:
def mod_tuple(tuple1, tuple2):
    mod_tuple = []
    for i in range(len(tuple1)):
        mod_tuple.append(tuple1[i] % tuple2[i])
    
    return tuple(mod_tuple)
print(mod_tuple((10, 4, 5, 6), (5, 6, 7, 5)))

(0, 4, 5, 1)

In [4]:
details = {'John', 'Smith', 30, '190', True, 'male'}
details.add(12)
details.add('big face')
details.remove('Smith')
print(details)

{'190', True, 'John', 'big face', 12, 30, 'male'}

In [7]:
x = {"John", "Smith", "David", "Danise", "Simon", "Jane"}
y = {"James", "John", "Jane", "Miles"}
print('x,y union', x.union(y))
print('x,y intersetion', x.intersection(y))
print('difference', x.difference(y))
print()

x,y union {'Danise', 'Jane', 'James', 'David', 'Smith', 'John', 'Miles', 'Simon'}
x,y intersetion {'Jane', 'John'}
difference {'Smith', 'Danise', 'Simon', 'David'}

In [8]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [11]:
a = False 
b = not a
print(a,b)

False True

In [14]:
vowels = ['a', 'e', 'i', 'o', 'u']

common = [letter for letter in 'human' if letter in vowels]
print(common)

['u', 'a']

In [16]:
numbers = [-1, -2, -4, 0, 3, -7]
any_positive = any(number > 0 for number in  numbers)
print(any_positive)

True

In [20]:

players = ['Eric', 'John', 'Lion', 'AdaWong']
for i, player in enumerate(players, start=1):
    print(i, player)

1 Eric
2 John
3 Lion
4 AdaWong

In [21]:
details = {'John', 'Smith', 30, '190com', True,'male', 30, 'male'}
print(type(details))
print(details)
print(len(details))

<class 'set'>
{True, 'John', 'Smith', '190com', 30, 'male'}
6

In [23]:
details = {True, '190cm', 'male', 'Smith', 'John', 30}
details.add(12)
print(details)
details.remove(30)
print(details)

{True, '190cm', 'John', 'Smith', 12, 30, 'male'}
{True, '190cm', 'John', 'Smith', 12, 'male'}

In [28]:
x = {"John", "Smith", "David", "Danise", "Simon", "Jane"}
y = {"James", "John", "Jane", "Miles"}
print('Union:', x.union(y))
print('Intersection:', x.intersection(y))
print('Difference:', x.difference(y))
print('Is Disjoint?', x.isdisjoint(y))
print('Is subset?', x.issubset(y))

Union: {'Danise', 'Jane', 'James', 'David', 'Smith', 'John', 'Miles', 'Simon'}
Intersection: {'Jane', 'John'}
Difference: {'Smith', 'Danise', 'Simon', 'David'}
Is Disjoint? False
Is subset? False

In [30]:
test_set = set("python")
print(test_set)
for i in test_set:
    print(i)

{'t', 'n', 'p', 'y', 'h', 'o'}
t
n
p
y
h
o

In [37]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

def common_ele(ar1, ar2, ar3):
    ar1 = set(ar1)
    ar2 = set(ar2)
    ar3 = set(ar3)

    common = ar1.intersection(ar2)
    output = common.intersection(ar3)
    return output

    
print(common_ele(ar1, ar2, ar3))

ar1 = [1, 5, 5]
ar2 = [3, 4, 5, 5, 10]
ar3 = [5, 5, 10, 20]

print(common_ele(ar1, ar2, ar3))

{80, 20}
{5}

In [38]:
def diff_lists(list1, list2):
    list1 = set(list1)
    list2 = set(list2)
    diff_list = list1.difference(list2)
    return diff_list

list1 = [10, 15, 20, 25, 30, 35, 40]
list2 = [25, 40, 35] 

print(diff_lists(list1, list2))

{10, 20, 30, 15}